@{
    ViewBag.Title = "Contact";
}
<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.Msg2</h4>
<h4>@ViewBag.Msg3</h4>
-->

<body>
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="testimonials">
                    
                      <div class="carousel-info">
                            <img alt="" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/995039_10200228783657550_2088752620_n.jpg?oh=704190fdf8697dd2e82e5925a2baf039&oe=56C47ACC&__gda__=1451585174_1209f338e6b41b31661aa8395a2954a7" width="140" height="140" class="pull-left">
                            <div class="pull-left">
                                <span class="testimonials-name">Ms. Pimpaporn Chiachomphu</span>
                                <span class="testimonials-post">Mobile developer (iOS)</span>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="testimonials">

                  <div class="carousel-info">
                      <div class="pull-left">
                          <span class="testimonials-name">Ms. Suthang Innchai</span>
                          <span class="testimonials-post">Web developer (ASP.NET)</span>
                      </div>
                      <img alt="" src="https://scontent-kul1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11993291_832592650195198_888954182667018370_n.jpg?oh=c3bfa8047e8148c04a1c116f95195179&oe=568A6B1F" width="140" height="140" class="pull-left">
                        </div>

                    </div>
                </div>
            </div>
        </div>

</body>
 